
<input placeholder="search" [(ngModel)]="stasesrcuje"/>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Slika</th>
            <th>Godine</th>
            <th>Rodjendan</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let contact of model.contacts | search:stasesrcuje">
            <td>
                <button type="button" class="btn btn-primary" (click)="openContact(contact.id)">Otvori</button>
            </td>
            
            <td>{{contact.id}}</td>
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td><img [src]="'/assets/images/'+ contact.profilePicture" width="70" height="auto"></td>
            <td>{{contact.age}}</td>
            <td>{{contact.birthdate | dateFormat}}</td>
            <td>
                <button type="button" class="btn btn-success" (click)="editContact(contact.id)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)">X</button>
            </td>
        </tr>
    </tbody>

</table>
