<ul class="nav nav-pills">
  <li role="presentation"><a [routerLink]="('/contacts/'+id+'/info')">Informacije</a></li>
  <li role="presentation"><a [routerLink]="('/contacts/'+id+'/edit')">Izmeni</a></li>
</ul>
<router-outlet></router-outlet>