<div class="container">
  <ul>
    <li>
      <h4>Id: {{contact.id}}</h4>
    </li>
    <li>
      <h4>Ime: {{contact.firstname}}</h4>
    </li>
    <li>
      <h4>Prezime: {{contact.lastname}}</h4>
    </li>
    <li>
      <h4>Slika:</h4>
      <img [src]="'/assets/images/'+ contact.profilePicture" width="70" height="auto">
    </li>
    <li>
      <h4>Godine: {{contact.age}}</h4>
    </li>
    <li>
      <h4>Rodjendan: {{contact.birthdate|dateFormat}}</h4>
    </li>



  </ul>
</div>