<div class="container">
  <h3>Prikazi kontakt</h3>

  <form [formGroup]="editContactForm" (ngSubmit)="sabmitForm()">
    <div class="form-group">
      <label for="ime">Id</label>
      <input type="number" class="form-control" id="id" placeholder="id" formControlName="id">
    </div>
    <div class="form-group">
      <label for="ime">Ime</label>
      <input type="text" class="form-control" id="ime" placeholder="Ime" formControlName="firstname">
    </div>

    <div class="form-group">
      <label for="prezime">Prezime</label>
      <input type="text" class="form-control" id="prezime" placeholder="Prezime" formControlName="lastname">
    </div>


    <div class="form-group">
      <label for="slika">Slika</label>
      <input type="text" class="form-control" id="slika" placeholder="slika" formControlName="profilePicture">
    </div>

    <div class="form-group">
      <label for="godine">Godine</label>
      <input type="text" class="form-control" id="godine" placeholder="age" formControlName="age">
      <div *ngIf="editContactForm.controls.age.nepoklapanje && submitedtried" class="invalid-feedback">{{editContactForm.controls.age.nepoklapanje}}</div>

    </div>
    <div class="form-group">
      <label for="slika">Rodjendan</label>
      <my-date-picker name="mydate" [options]="editDataPickerOptions" formControlName="birthdate"></my-date-picker>
      <div *ngIf="editContactForm.controls.age.nepoklapanje && submitedtried" class="invalid-feedback">{{editContactForm.controls.age.nepoklapanje}}</div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>