<div class="container">
  <h3>Dodaj novi kontakt</h3>

  <form [formGroup]="addContactForm" (ngSubmit)="sabmitForm()">

    <div class="form-group">
      <label for="ime">Ime</label>
      <input type="text" [ngClass]="{'is-invalid':addContactForm.controls.firstname.invalid && submitedtried}" class="form-control" id="ime"
        placeholder="Ime" formControlName="firstname">
      <div *ngIf="addContactForm.controls.firstname.invalid && submitedtried" class="invalid-feedback">Ime nije uneto</div>
    </div>

    <div class="form-group">
      <label for="prezime">Prezime</label>
      <input type="text" [ngClass]="{'is-invalid':addContactForm.controls.lastname.invalid && submitedtried}" class="form-control" id="prezime"
        placeholder="Prezime" formControlName="lastname">
      <div *ngIf="addContactForm.controls.lastname.invalid && submitedtried" class="invalid-feedback">Prezime nije uneto</div>
    </div>


    <div class="form-group">
      <label for="slika">Slika</label>
      <input type="text" class="form-control" id="slika" placeholder="slika" formControlName="profilePicture">
    </div>
          
    <div class="form-group">
        <label for="godine">Godine</label>
        <input type="text" class="form-control" id="godine" placeholder="godine" formControlName="age">
        <div *ngIf="addContactForm.controls.age.invalid && submitedtried" class="invalid-feedback">Proverite broj godina</div>
        <div *ngIf="addContactForm.controls.age.nepoklapanje && submitedtried" class="invalid-feedback">{{addContactForm.controls.age.nepoklapanje}}</div>
      </div>
    <div class="form-group">
        <label for="rodjendan">Rodjendan</label>
        <my-date-picker name="mydate" [options]="editDataPickerOptions" placeholder="Datum rodjenja" formControlName="birthdate"></my-date-picker>
        <div *ngIf="addContactForm.controls.age.nepoklapanje && submitedtried" class="invalid-feedback">{{addContactForm.controls.age.nepoklapanje}}</div>
    </div>

<button type="submit" class="btn btn-primary">Dodaj</button>
</form>
</div>