/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.form-control.is-valid{
    border-color:green;
}
.form-control.is-invalid{
    border-color:red;
}
.valid-feedback{
    color:green;
}
.invalid-feedback{
    color:red;
}