
<div class="col-md-12">
  
  <h3>Da li ste sigurni da zelite da oobrisete kontakt sa id: {{id}} ?</h3>
  <button type="submit" class="btn danger" (click)="deleteContact()">Da</button>
  <button type="submit" class="btn btn-info" routerLink="/contacts">Ne</button>
  </div>
